
body {
  

    font-family: 'Playfair Display', serif;
    background: linear-gradient(to bottom, #faf8ec);
    color: #d94f70;
    display: flex;
    justify-content: center;

    user-select: none;
}
