body {
    font-family: 'Playfair Display', serif;
    background: 
        radial-gradient(circle at 0% 0%, #dcc5e2, transparent 20%),
        radial-gradient(circle at 100% 100%, #dcc5e2, transparent 20%),
        linear-gradient(to bottom, #faf8ec, #faf8ec); /* fondo base */
    color: #d94f70;
    display: flex;
    justify-content: center;
    user-select: none;
}
