.introduction {
  background-color: #ab70ab; /* morado */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 20px; /* espacio interno */
  min-height: 40vh; /* altura visualmente amplia */
}

.intro-content {
  max-width: 900px; /* no se expande demasiado */
}

.descripcion {
    color: #f0e6f7;
  font-size: 1.3rem;
  line-height: 1.8;
  font-weight: 400;
}
