@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.projects-container {
  display: flex;
  max-width: 1245px;
  margin: 0 auto;
  padding: 1px 180px;
  gap: 70px;
  font-family: 'Montserrat', sans-serif;
  color: #4e3b61;
   margin-bottom: 5%;
}

/* Menú lateral */
.projects-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-item {
  padding: 15px 20px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(146, 92, 147, 0.25);
  cursor: pointer;
  font-weight: 500;
  color: #925c93;
  transition: all 0.3s ease;
    height: 70px; /* Todas iguales */
      min-height: 70px;
      min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item:hover {
  background: #f5e9f9;
  transform: translateX(5px);
}

.menu-item.activo {
  background: linear-gradient(135deg, #925c93);
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 8px 20px rgba(146, 92, 147, 0.35);
}

/* Detalles del proyecto */
.project-detail {
        min-width: 530px;
  flex: 2;
  background: #ffffff;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0px 8px 20px rgba(146, 92, 147, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-detail:hover {
  transform: scale(1.02);
  box-shadow: 0px 12px 25px rgba(146, 92, 147, 0.3);
}

.project-detail h2 {
  color: #925c93;
  margin-bottom: 20px;
  font-size: 2rem;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%; /* Evita scroll horizontal */
  background-color: #fff; /* o el color de fondo que uses */
}
.prjects-title {
  font-family: 'Outfit', sans-serif;
  font-weight: 400; /* prueba 200, 300 o 400 */ font-size: 3rem;
  color: #925c93;
  margin-bottom: 40px;
  text-align: left;
  margin-left: 12%;
}
.project-detail img {
  width: 100%;
  max-width: 500px;
  border-radius: 14px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 15px rgba(146, 92, 147, 0.2);
}

.project-detail p {
  margin: 10px 0;
  line-height: 1.6;
  color: #555;
  font-size: 1.1rem;
}

.project-detail strong {
  color: #4e3b61;
}

.project-detail a {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 20px;
  background: linear-gradient(135deg, #925c93);
  color: white;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.project-detail a:hover {
  background: linear-gradient(135deg, #925c93);
  transform: translateY(-2px);
}

/* Responsivo */
@media (max-width: 992px) {
  .projects-container {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 40px 20px;
  }

  .projects-menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu-item {
    flex: 1 1 40%;
    text-align: center;
  }
}
