.skills-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.skills-container.show {
  max-height: 200px; /* ajusta según contenido */
  opacity: 1;
}

.card-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  text-align: left;
  font-size: 14px;
  color: #555;
}

.card-list li {
  margin-bottom: 6px;
}
